:root {
	--root-size: 1rem; /*16px*/
	--spacing: 0.9rem; /*15px*/
}

#grand-army {
	font-size: 3.8rem;
	font-family: "Oswald", sans-serif;
	font-style: italic;
	margin-bottom: 30px;
}

#managers {
	font-size: 3rem;
	font-family: "Oswald", sans-serif;
	font-style: italic;
}

#no-slant {
	font-size: 4rem;
	height: 5rem;
}

/* aaccbbexample */

#slant {
	/* font-style: oblique 40deg; */
	/* transform: rotate(30deg); */
	font-size: 4rem;
	padding-bottom:60px;
}

#slant>*{
	transform: rotate(20deg);
	position: absolute;
}

#soap-one {
	font-size: 7rem;
	font-weight: 600;
	margin-bottom: 70px;
	margin-top: 40px;
}

#soap-two {
	font-size: 7rem;
	font-weight: 600;
	font-style: oblique 40deg;
	margin-bottom: 70px;
}

#soap-three {
	font-size: 7rem;
	font-weight: 600;
	font-style: italic;
	margin-bottom: 20px;
}

/* line */
.container-line-title{
	display:grid;
	grid-template-columns:350px auto;
	/* justify-content: space-between; */
	align-items: center;
	width: 100vw;
}

#c2{
	grid-template-columns:150px auto;
	padding-left: 40px;
}

#c3{
	grid-template-columns:350px auto;
	padding-left: 40px;
}

#line {
	height: 2px;
	width: 95%;
	background-color: salmon;
	Padding: 0;
}

#backtotop {
	color: salmon;
}

#example-1 {
	font-family: "UnifrakturMaguntia";
}

#title-highlight {
	text-decoration: underline;
	font-weight: bold;
	font-size: 2.8rem; /* 45px*/
}

#title-highlight:hover{
	font-style: italic;
}

#highlight-word {
	font-family: "Alegreya"
}

.highlight-number {
	color: salmon;
	font-weight: bold;
}

.italic-style {
	font-style: italic;
}

.responsive-row {
	margin-top:var(--root-size);
	display: flex;
	flex-direction: column;
	gap:var(--root-size);
}

.bold{
	font-weight: bold;
}

.underline{
	text-decoration: underline;
}

.align-right{
	text-align: right;
	font-size: 1.2rem;
}

.aside-box{
	font-size: 0.6rem; /*10px*/
	text-align: right;
}

/*emphasize-italic style*/
em{
	font-style: italic;
}

blockquote {
	font-family: "Spectral", serif;
	font-size: 1.75rem; /*28px*/
	text-align: center;
	margin-bottom: 100px;
	padding: 20px;
}

/*quote*/
aside {
	font-family: "Spectral", serif;
	font-size: 1.125px; /*18px*/
	font-style: italic;
	text-align: left;
}

h5 {
	margin-bottom: 30px;
}

h4 {
	font-size: 1.25rem; /*20px*/
	color: salmon;
	}

h3{
	font-family: "Spectral", serif;
	font-size: 1.56rem; /*25px*/
	font-style: italic;
	font-weight: 500;
	margin-top: 50px;
	margin-bottom: 45px;
}

h2{
	font-size: 1.56rem; /*25px*/
	font-style: italic;
	font-weight: 500;
	color: salmon;
}

h1{
	font-family: "Spectral", serif;
	font-size: calc(var(--root-size) * 2);
	text-align: center;
	margin-top: 80px;
	margin-bottom: 50px;
}

nav {
	position: sticky;
	padding-left: 40px;
	padding-top: 40px;
}

footer {
	margin: 40px;
}

div {
	width: fit-content;
	text-align: left;
	font-size: 1.125rem; /*18px*/
	padding: 20px;
}

p {
	line-height: 33px;
	max-width: 1000px;
	font-size: 1.2rem;
}

body {
	font-size: 1.2rem;
	font-family: "Teachers", sans-serif;
}

/*dropdown menu*/
details {
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 20px;
	max-width: 340px;
	margin: 20px auto;
	box-shadow: 0px 1px 0px 1px;
	position: fixed;
	z-index: 100;
}

summary {
	font-size: 1.2rem;
	cursor: pointer;
}

details p {
	font-size: 1.1rem;
	margin: 10px 0;
	height: 20px;
	color: salmon;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
}

.text {
	grid-column: 1 /span 5;
}

.source {
	grid-column: 1 / span 5;
	margin: 40px;
	border: 2px solid salmon;
	border-radius: 5px;
	background-color: rgb(253, 244, 243);
	width: 350px;
	height: 400px;
}

.example {
	grid-column: 1 / span 5;
	border-radius: 5px;
	border: 2px solid rgb(201, 196, 196);
	margin: 40px;
	padding: 30px;
	z-index: -100;
}


.aside {
	margin-left: 30px;
}

/* .text {
	grid-column:1 / span 3;
} */

/* .source {
	grid-column: 4 / span 2;
	margin: 20px;
	border: 2px solid salmon;
	border-radius: 5px;
	background-color: rgb(253, 244, 243);
	width: 350px;
	height: 400px;
}

.example {
	grid-column: 2 / span 4;
	border-radius: 5px;
	border: 2px solid rgb(201, 196, 196);
} */

/* .aside {
	margin-left: 100px;
	padding-left: 40px;
	border-left: 2px black solid;
} */

/* #q1 {
	width: 350px;
	padding-left: 0;
} */

/* Reponsive desktop min-width 1280px*/
@media screen and (min-width: 1280px) {

	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
	}
	
	.text {
		grid-column:1 / span 3;
	}

	.source {
		grid-column: 4 / span 2;
		margin: 20px;
		border: 2px solid salmon;
		border-radius: 5px;
		background-color: rgb(253, 244, 243);
		width: 350px;
		height: 400px;
	}
	
	.example {
		grid-column: 2 / span 4;
		border-radius: 5px;
		border: 2px solid rgb(201, 196, 196);
	}

	.aside {
		margin-left: 100px;
		padding-left: 40px;
		border-left: 2px black solid;
	}

}

@media screen and (min-width: 1000px) {
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
	}
	
	.text {
		grid-column:1 / span 3;
	}

	.source {
		grid-column: 4 / span 2;
	}	

			
	.example {
		grid-column: 2 / span 4;
	}	

	.aside {
			margin-left: 100px;
			padding-left: 40px;	
	}
	#up-top{
		text-align: right;
	}
	footer {
		display: grid;
		grid-template-columns: auto 160px;
	}
	#footer-item:nth-child(1){
		grid-column: 1;
	}
	#footer-item:nth-child(2){
		grid-column: 2;
	}
}

@media print {
	
	details{
		display: none;
	}

}
/* Reponsive max 800px

@media print and (min-width: 812px) {

	.source {
		font-size: 0.9rem;
		width: auto;
		line-height:0.95rem;
		height: auto;
		grid-column: 1 / span 5;
	}

	.source h4 {
		line-height: 1.1rem;
	}

	.aside {
		margin-left: 60px;
	}

	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
	}

	.text {
		grid-column: 1 /span 5;
	}
} */

/* Reponsive Mobile max 400px*/
/* @media (min-width: 400px) {
	:root {
		--root-size: 16px;
		--spacing: 15px;
	}

#grand-army {
	font-size: 2.5rem;
}

#managers {
	font-size: 2.3rem;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
}

.text {
	grid-column: 1 /span 5;
}

.source {
	grid-column: 1 / span 5;
}

.aside {
	margin-left: 30px;
} */





/* Print
@media print and (min-width: 612px) {
	details [open] > *:not(summary) {
		display: none;
	}
} */





/*h1= Main title "italic not italic" */
/*h2= Subheading of each section */
/*h3= Subheading of aside or quote */
/*h4= Subheading of div "source clarification" */
/*h5= Subheading of div "exmaple" */