:root {
	--root-size: 16px;
	--spacing: 15px;

	font-size:16px;
}

body {
	font-size: var(--root-size);
	padding: var(--spacing);
}

#example-1 {
	font-family: "UnifrakturMaguntia";
}

#title-highlight {
	text-decoration: underline;
	font-weight: bold;
	font-size: 45px;
}

.italic-style {
	font-style: italic;
}

.responsive-row {
	margin-top:var(--root-size);
	display: flex;
	flex-direction: column;
	gap:var(--root-size);
}

.bold{
	font-weight: bold;
}

.underline{
	text-decoration: underline;
}

.align-right{
	text-align: right;
}

.example-box

.source-box

.aside-box{
	font-size: 10px;
	text-align: right;
}

/*emphasize-italic style*/
em{
	font-style: italic;
}

blockquote {
	font-family: "Spectral", serif;
	font-size: 28px;
	text-align: center;
	margin-bottom: 100px;
}

/*quote*/
aside {
	font-family: "Spectral", serif;
	font-size: 21px;
	font-style: italic;
	text-align: left;
	text-indent: 50px;
	max-width: 900px;
}

h5 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h4 {
	font-size: 20px;
	background-color: white;
	border: 2px solid black;
	padding: 3px;
	}

h3{
	font-family: "Spectral", serif;
	font-size: 25px;
	font-style: italic;
	font-weight: 500;
	margin-top: 50px;
	margin-bottom: 45px;
}

h2{
	font-size: 25px;
	font-style: italic;
	font-weight: 500;
	margin-bottom: 40px;
	margin-left: 60px;
}

h1{
	font-family: "Spectral", serif;
	font-size: calc(var(--root-size) * 2);
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
}

div {
	width: fit-content;
	text-align: left;
	font-size: 18px;
	padding: 20px;

}

p {
	margin-bottom: 30px;
	max-width: 1000px;
}

body {
	font-size: 1.2rem;
	font-family: "Teachers", sans-serif;
	padding-left: 50px;
}

/*dropdown menu*/
details {
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 20px;
	max-width: 330px;
	margin: 20px auto;
	box-shadow: 0px 1px 0px 1px;
	position:fixed;
	
}

summary {
	font-size: 1.2rem;
	cursor: pointer;
}

details p {
	font-size: 1.1rem;
	margin: 10px 0;
	height: 20px;
	color: salmon;
}

.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
}

.text{
	grid-column:1 / span 3;
}
.source{
	grid-column: 4 / span 2;
	margin: 20px;
	border: 2px solid salmon;
	border-radius: 5px;
	background-color: rgb(255, 188, 180);
	width: 350px;
	height:280px;

}
.example{
	grid-column: 2 / span 4;
}
.aside{
	margin-left: 100px;
	padding-left:40px;
	border-left: 2px black solid;
}

/* #arrow:hover span{
	content:" ";
}
#arrow:hover:before{
content:"↓";
} */

@media (max-width: 800px) {
.source{
	font-size: 0.9rem;
	width:200px;
	line-height:0.95rem;
}
.source h4 {
	line-height:1.1rem;
}
.aside {
	 margin-left: 50px;
}
}


/* Reponsive Mobile minimium 400px*/
@media (max-width: 400px) {
	:root {
		--root-size: 16px;
		--spacing: 15px;
	}
.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
}
	.text{
		grid-column:1 / span 5;
	}
.source{
	grid-column:1 / span 5;
}
.aside{
	margin-left:30px;
}
}



/*h1= Main title "italic not italic" */
/*h2= Subheading of each section */
/*h3= Subheading of aside or quote */
/*h4= Subheading of div "source clarification" */
/*h5= Subheading of div "exmaple" */