:root {
	--root-size: 1.2rem;
	--fg-color: #000;
}

#example-1 {
	font-family: "UnifrakturMaguntia";
}

#title-highlight {
	text-decoration: underline;
	font-weight: bold;
	font-size: 45px;
}

.italic-style {
	font-style: italic;
}

.responsive-row {
	margin-top:var(--root-size);
	display: flex;
	flex-direction: column;
	gap:var(--root-size);
}

div {
	font-size: 18px;
	background-color: salmon;
	text-align: right;
}

blockquote {
	font-family: "Spectral", serif;
	font-size: 28px;
	text-align: center;
	margin-bottom: 100px;
}

aside {
	font-family: "Spectral", serif;
	font-weight: 200;
	font-size: 20px;
	text-align: right;
}

p {
	line-height: 33px;
	margin-bottom: 20px;
}

body {
	font-size: var(--root-size);
	font-size: 22px;
	font-family: "Teachers", sans-serif;
	padding: var(--root-size);
}

h4 {
	background-color: white;
	}

h3{
	font-family: "Spectral", serif;
	font-size: 25px;
	font-style: italic;
	font-weight: 500;
	margin-top: 50px;
}

h2{
	font-size: 25px;
	font-style: italic;
	font-weight: 500;
	margin-bottom: 30px;
}

h1{
	font-family: "Spectral", serif;
	font-size: calc(var(--root-size) * 2);
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
}

/*dropdown menu*/
ul {
	display: block;
	list-style-type: none;
	text-align: left;
}

ul li {
	padding: 10px 15px;
	position: relative;
	user-select: none;
}

ul li :hover{
	background: salmon;
	color:black
}

ul li a {
	display: block;
	padding: 10px;
	text-decoration: none;
}

.dropdown {
	display: none;
	position: absolute;
}
/*dropdown on hover*/
ul li:hover .dropdown {
	display: block;
}
/*dropdown style*/
.drop-down li a:hover {
	background-color: salmon;
}

@media (min-width: 600px) {
	:root{
		--root-size:1.5rem;
	}
}


/*h1= Main title "italic not italic" */
/*h2= Subheading of each section */
/*h3= Subheading of aside or quote */
/*h4= Subheading of div "source clarification" */
/*h5= Subheading of div "exmaple" */