:root {
	--root-size: 1.2rem;
	--fg-color: #000;
}

body {
	font-size: var(--root-size);
	font-family: "Teachers", sans-serif;
	padding: var(--root-size);
}

h1{
	font-size: calc(var(--root-size) * 2);
}

h4 {
background-color: white;
}

div {
	background-color: salmon;
}

.responsive-row{
	margin-top:var(--root-size);
	display: flex;
	flex-direction: column;
	gap:var(--root-size);
}

@media (min-width: 600px) {
	:root{
		--root-size:1.5rem;
	}
}


/*h1= Main title "italic not italic" */
/*h2= Subheading of each section */
/*h3= Subheading of aside or quote */
/*h4= Subheading of div "source clarification" */
/*h5= Subheading of div "exmaple" */